.we {

    > div {
        width: 280px;
        padding-top: 34px;

        h2 {
            margin-bottom: 9px;
            margin-left: 3px;
            font-size: 27px;
            line-height: 30px;
        }

        .about-us {
            display: block;
            padding: 32px 0 0;

            > div:first-child {
                width: 280px;
                height: 207px;
                text-align: center;

                img {
                    max-height: 207px;
                    margin-right: 0;
                }
            }

            .about-us-text {
                text-align: left;

                h3 {
                    margin-top: 17px;
                    margin-bottom: 9px;
                    padding-bottom: 11px;
                    border-bottom: 1px solid $col-11;
                    font-size: 16px;
                    letter-spacing: -.1px;
                    line-height: 19px;
                }

                p {
                    font-size: 13px;
                    line-height: 27px;
                }

                .features {
                    display: grid;
                    grid-row-gap: 22px;
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    margin-top: 52px;

                    .feature {
                        text-align: left;

                        &::before {
                            content: '';
                            display: flex;
                            flex-shrink: 0;
                            align-items: center;
                            justify-content: center;
                            width: 17px;
                            height: 40px;
                            margin-right: 15px;
                            border-radius: 0;
                            background: url(../images/we/CheckIcon1.png) no-repeat;
                            background-position: 1px 5px;
                        }

                        &.two::before,
                        &.three::before,
                        &.four::before {
                            width: 17px;
                            height: 40px;
                            margin-right: 15px;
                            background: url(../images/we/CheckIcon1.png) no-repeat;
                            background-position: 1px 5px;
                        }

                        div {
                            text-align: left;

                            h4 {
                                display: none;
                            }
                        }
                    }

                    .four {
                        display: none;
                    }
                }

                .read-more {
                    display: inline-block;
                    margin-top: 47px;

                    a {
                        padding: 13px 32px;
                        background: $col-2;
                        color: $col-4;
                        font-size: 13px;
                        font-weight: 700;
                        line-height: 34px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
