$col-1: #323232;
$col-2: #3AB6B2;
$col-3: #6A6A6A;
$col-4: #FFFFFF;
$col-5: #3B3B3B;
$col-6: #D3D3D3;
$col-7: #1E1E1E;
$col-8: #FFFEFE;
$col-9: #0E0E0E;
$col-10: #707070;

// $color-1: #0E0E0E;
// $color-3: #707070;
