.slider {
    position: relative;
    height: 760px;
    overflow: hidden;

    img {
        position: absolute;
        width: 100%;
    }

    .caption {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h2 {
            position: relative;
            top: 14px;
            margin-bottom: 6px;
            margin-left: 17px;
            color: #FFFFFF;
            font-family: 'Raleway', sans-serif;
            font-size: 62px;
            font-weight: 200;
            line-height: 74px;
            word-spacing: -1px;
        }

        h3 {
            margin-right: -10px;
            color: #FFFFFF;
            font-family: 'Montserrat', sans-serif;
            font-size: 74px;
            font-weight: 700;
            letter-spacing: -2.2px;
            line-height: 88px;
            word-spacing: -2px;
        }

        p {
            position: relative;
            top: 5px;
            left: 10px;
            color: $col-4;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            font-weight: 300;
            line-height: 24px;
            white-space: nowrap;
        }

        div {
            display: inline-block;
            position: relative;
            top: 44px;
            left: 12px;
            padding: 14px 3px;
            background: $col-2;

            a {
                padding: 10px 30px;
                border: 1px solid $col-4;
                color: $col-4;
                font-family: 'Raleway', sans-serif;
                font-size: 13px;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }

    .arr-left {
        position: absolute;
        top: 44%;
        left: 32px;
        width: 50px;
        height: 50px;
        background-image: url(/images/slider/left.png);
        background-repeat: no-repeat;
    }

    .arr-right {
        position: absolute;
        top: 44%;
        right: 32px;
        width: 50px;
        height: 50px;
        background-image: url(/images/slider/right.png);
        background-repeat: no-repeat;
    }
}
