.slider {
    position: relative;
    height: 592px;
    overflow: hidden;

    img {
        width: 115.9%;
    }

    .caption {
        top: 43%;

        h2 {
            top: 10px;
            margin-left: -1px;
            font-size: 58px;
            line-height: 70px;
            word-spacing: 1px;
        }

        h3 {
            margin-right: 9px;
            font-size: 71px;
            line-height: 86px;
        }

        p {
            left: -15px;
            font-size: 18px;
            line-height: 22px;
        }

        div {
            top: 38px;
            left: -4px;
        }
    }

    .slider-arrows {
        display: none;
    }
}
