.header {
    background: $col-9;

    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1173px;
        min-height: 101px;
        margin: 0 auto;

        .menu {

            a {
                margin-right: 34.2px;
                color: $col-4;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: .2px;
                list-style: none;
                text-decoration: none;

                &:last-child {
                    margin-right: 4px;
                }
            }
        }

        .burger-menu {
            display: none;
        }
    }
}
