.header {

    .wrap {
        width: 280px;
        min-height: 64px;
        padding: 11px 1px 14px;

        .logo {

            a {
                padding-top: 10px;
                padding-left: 20px;
                font-size: 27px;

                &::before {
                    top: 2px;
                    width: 21px;
                    height: 30px;
                    background-size: 21px;
                }
            }
        }

        .menu {
            display: none;
        }

        .burger-menu {
            display: inline-block;

            a {

                img {
                    width: 45px;
                    padding-top: 7px;
                }
            }
        }
    }
}
